.row{
    display: flex;
    flex-direction: row;
    margin-right: -200px;
}

.description{
    padding-top: 25px;
    width: 50%;
    line-height: 1.8;
    text-align: center;
    padding-right: 15px;
    padding-left: 20px;
}

.img{
    width: 400px;
    border-radius: 25px;
    margin-right: 50px;
}

.buttons {
    display: block;
    text-decoration: underline;
}

.greeting{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 90%;
}

#about {
    padding-bottom: 30px;
    border-bottom: 3px solid grey;
}

.tech{
    text-align: center;
    border: 12px solid grey;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 30px;
margin-left: 30px;
padding-top: 30px;
}

/* MEDIA QUERIES */

/* Desktops/large screens */
@media (max-width: 1200px){

}

/* Small screens/laptops */
@media (max-width: 1024px){

}

@media (max-width: 924px){

    .greeting {
        font-size: 1.6rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    .img {
        width: 300px;
    }

    .logo {
        margin-right: 2%;
    }

    .greet-w{
        width: 90%;
    }

}
/* Ipads/Tablets */
@media (max-width: 769px) {
    
    .img {
       display: none;
    }

    .description {
        text-align: center;
        width: 100%;
        margin-right: 20%;
    }

    .tech {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}




