.contact-message {
    padding-bottom: 30px;
    text-align: center;
}

.form {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#contact{
    border-top: 3px solid grey;
}
