.navbar{
	padding-left: 20px;
    background-color: brown;
}

.container{
    /* mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center */
    flex-wrap: wrap;
    padding-left: 20px;
}

.options {
text-align: center;
border-bottom: 3px solid grey;
padding-bottom: 10px;
}



a {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: black;
}

h2{
    margin-top:2px;
    margin-left: 20px;
    color: black;
}

.container-nav{
    position:relative;
  }
